<div class="container-fluid">
    <h2 class="text-center mb-2">PROJECTS</h2>
    <p class="text-muted text-center mb-4">Last Uploaded</p>
    <div class="container mb-2">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img class="rounded" src="https://joshualezcanorepo.github.io/assets/img/Frame%202.jpg" alt=""
                        style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <a href="https://github.com/JoshuaLezcanoRepo/Bio-Earth-Proyecto-Informatorio"><p class="fw-bold mb-0">Bio-Earth</p></a>
                        <p class="mb-0">Desarrollo Página 17 OSD</p>
                        <p class="text-muted">Informatorio</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img class="rounded" src="https://joshualezcanorepo.github.io/assets/img/Frame%204.jpg" alt=""
                        style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <a href="https://github.com/JoshuaLezcanoRepo/PL-BM"><p class="fw-bold mb-0">Paulo Londra</p></a>
                        <p class="mb-0">Biografía + Música</p>
                        <p class="text-muted">App Android</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img class="rounded" src="https://joshualezcanorepo.github.io/assets/img/chant.jpg" alt=""
                        style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <a href="https://github.com/JoshuaLezcanoRepo/Chanti-s-Drugstore"><p class="fw-bold mb-0">Chanty's</p></a>
                        <p class="mb-0">Supermarket</p>
                        <p class="text-muted">App Android</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img class="rounded" src="https://joshualezcanorepo.github.io/assets/img/meta.jpg" alt=""
                        style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <a href="https://metanoticiaschaco.com.ar/"><p class="fw-bold mb-0">Meta Noticias Chaco</p></a>
                        <p class="mb-0">News Website</p>
                        <p class="text-muted">Freelance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
</div>