<!--
<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educación
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil"></i>EDITAR</button></td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-pencil"></i>BORRAR</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

-->



<section>
    <div class="container-fluid">
<table class="table">
    <tbody>
        <tr>
            <li class="list-group-item d-flex justify-content-center align-items-start text-white">
                <div class="ms-2 me-auto">
                    <h2 class="text-left text-white mb-2"><strong>EDUCATION</strong></h2>
                    <p class="text-muted text-white-50 text-left mb-4">Last Updated</p>
                </div>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-outline-light btn-floating" routerLink="/nuevaedu" *ngIf="isLogged">
                        <i class="fas fa-plus"></i>
                    </button>
                </td>
            </li>
        </tr>
    </tbody>
</table>



<table class="table">
    <tbody>
        <tr *ngFor="let Educacion of educacion">
            <li class="list-group-item d-flex justify-content-center align-items-start text-white">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{Educacion.nombreE}}</div>
                    {{Educacion.descripcionE}}
                </div>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-outline-success btn-floating" data-mdb-ripple-color="dark"
                    routerLink="/editedu/{{Educacion.id}}">
                        <i class="fas fa-pen"></i>
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-outline-danger btn-floating" data-mdb-ripple-color="dark"
                    (click)="delete(Educacion.id)">
                        <i class="fas fa-xmark"></i>
                    </button>
                </td>
            </li>
        </tr>
    </tbody>
</table>
</div>
</section>