<footer class="text-center text-white" style="background-color: #101010;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://t.me/joshualezcano8"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-telegram"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://github.com/JoshuaLezcanoRepo"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-github"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://www.linkedin.com/in/joshd8"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://api.whatsapp.com/send?phone=5493624638039&text=Hola,%20te%20hablo%20desde%20tu%20Portfolio"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/JoshuaLezcanoRepo/ArgentinaPrograma">Joshua David - Final Work for AP</a>
    </div>
    <!-- Copyright -->
  </footer>